VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_CEA_REST_URL=https://appcea.ceaqueretaro.gob.mx/ceadevws/
VITE_CEA_SOAP_CONTRACT_URL=http://aquacis-cf-int.ceaqueretaro.gob.mx/Comercial/services/InterfazGenericaContratacionWS
VITE_CEA_SOAP_WORKORDER_URL=http://aquacis-cf-int.ceaqueretaro.gob.mx/Comercial/services/InterfazGenericaOrdenesServicioWS
VITE_CEA_SOAP_METER_URL=https://aquacis-cf-int.ceaqueretaro.gob.mx/Comercial/services/InterfazGenericaContadoresWS
VITE_CEA_SOAP_DEBT_URL=https://aquacis-cf-int.ceaqueretaro.gob.mx/Comercial/services/InterfazGenericaGestionDeudaWS
VITE_CEA_SOAP_READINGS_URL=https://ceaqueretaro-cf-int.aquacis.com/Comercial/services/InterfazOficinaVirtualClientesWS
VITE_CEA_SOAP_RECEIPT_URL=https://aquacis-cf-int.ceaqueretaro.gob.mx/Comercial/services/InterfazOficinaVirtualClientesWS
VITE_CEA_API_USERNAME=your_username
VITE_CEA_API_PASSWORD=your_password